<div>
  <header class="header">
    <div style="text-align:center">
      <h1 class="header-text">
        Welcome to the {{ title }}!
      </h1>
      <h4 class="color">{{ subTitle }}</h4>
      <p class="color">Also Mulmaster Fried Harpy and Spit Roasted Grick</p>
    </div>

    <nav class="navbar fixed-top navbar-expand navbar-dark bg-transparent pull-right">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item act ive">
            <a class="nav-link" [routerLink]="'/'">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/combat'">Combat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <router-outlet></router-outlet>
</div>
