.color {
    color: rgba(150, 150, 60, 100);
    text-shadow: 1px 1px 8px #000000;
}

.header-text {
    text-transform: Capitalize;
    color: rgba(150, 150, 60, 100);
    text-shadow: 1px 1px 8px #000000;
}