<div>
  <header class="header">
    <div style="text-align:center">
      <h1 class="header-text">
        Welcome to the {{ title }}!
      </h1>
<p id="neon">Ho<span>m</span>e of the Faer<span>û</span>n <span>Famous</span> Mul<span>ma</span>ster Fried Ha<span>rp</span>y
  and
  Grick
        Fritter<span>s</span></p>
      <p class="color vibur">Also the adventuring group known as the fanny pack.</p>
    </div>

    <nav class="navbar fixed-top navbar-dark bg-transparent">
      <button class="navbar-toggler navbar-tog" type="button" data-toggle="collapse" data-target="#mainNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="mainNav">
        <ul class="navbar-nav">
          <li class="nav-item act ive">
            <a class="nav-link" [routerLink]="''">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/combat'">Combat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/about'">About</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <router-outlet></router-outlet>
</div>
