<div>
  <span class="switch">
    <input type="checkbox" class="switch" id="switch-id">
    <label for="switch-id">Daniel</label>
  </span>
</div>
<div>
  <span class="switch">
    <input type="checkbox" class="switch" id="switch-id">
    <label for="switch-id">Ena</label>
  </span>
</div>
<div>
  <span class="switch">
    <input type="checkbox" class="switch" id="switch-id">
    <label for="switch-id">Ida</label>
  </span>
</div>
<div>
  <span class="switch">
    <input type="checkbox" class="switch" id="switch-id">
    <label for="switch-id">Mel</label>
  </span>
</div>
<div>
  <span class="switch">
    <input type="checkbox" class="switch" id="switch-id">
    <label for="switch-id">Sizzle</label>
  </span>
</div>
<div>
  <span class="switch">
    <input type="checkbox" class="switch" id="switch-id">
    <label for="switch-id">Torin</label>
  </span>
</div>
<div>
  <span class="switch">
    <input type="checkbox" class="switch" id="switch-id">
    <label for="switch-id">Vlad</label>
  </span>
</div>